.root {
  position: relative;
}

.dropdown {
  position: absolute;
  width: 100%;
  top: 72px;
  left: 0;
  max-height: 200px;
  overflow: auto;
  border: thin solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-bg-primary);
}

.dropdown > .dropdownItem + .dropdownItem {
  margin-top: 6px;
}

.dropdownItem {
  padding: 6px;
  cursor: pointer;
}
